/.org-id-locations
/autosaves/
/auto-save*/
/elpa/
/history
*.eld
/places
/recentf
/rfc/
/savehist
/straight/
/tramp
/transient/
/tree-sitter/
/projects
/eln-cache/
.aider*
/.mc-lists.el
/eaf/
/bookmarks
/.emigo_repomap/
/popweb/
/multisession
